---
layout: default
---
<h2>About me: 酥东坡er</h2>
<p>
    没有钱啊， 肯定要做啊， 不做没有钱用， 打工是不可能打工的， 这辈子不可能打工的， 做生意又不会做 ，就是偷这种东西 ，才能维持的了生活这样子 ，
    我进看守所感觉像回家一样， 我一年回去 。。大年三十晚上都不回去， 就平时家里出点事， 就回去看看这样子， 在看守所里的感觉嘛，在看守所里面比家里感觉好多了！！
    在家里一个人好无聊，没有友仔玩，也没有友女玩，进到看守所里面个个都是人才，说话又好听，呜哇哦，超喜欢在里面的！！
</p>
<h3>解读</h3>
<div>
    “打工是不可能打工的，这辈子都不可能打工的！”
    <br>
    解读：这句话体现出窃.格瓦拉作为一位无产阶级革命家，坚决与剥削劳苦大众的万恶的资本家划清界限，决定为革命事业奋斗终身的决心。从“这辈子”一词中我们可以感受到格瓦拉坚定不移，顽强不屈的革命意志。
    <br>
    “做生意又不会做。”
    <br>
    解读：这一句体现出商人投机倒把，囤货居奇，重利轻义，是站在广大无产阶级劳动人民对立面的敌人，深深地为格瓦拉所不齿。因此作为革命家的窃.格瓦拉坚决不会（will not）去做生意。
    <br>
    “就是偷这种东西 才能维持的了生活这样子。”
    <br>
    解读：无产阶级革命家窃.格瓦拉因为不愿与意识形态上的一切敌人同流合污，失去了经费来源，经济十分窘迫。“偷”字简明而形象地描述了革命家与反动的资产阶级艰苦卓绝的斗争历程，而“维持得了生活”体现出革命家将所缴获的战利品全部捐献给了自己所投身的革命事业，而将自己的生活开支压到最低水平，在糖衣炮弹的诱惑面前展现了一位无产阶级革命者应有的风范。
    <br>
    “进看守所感觉就像回家一样。”
    <br>
    解读：由于叛徒出卖，窃.格瓦拉在执行任务（偷）时不幸被捕入狱。此时革命家的这句话一方面体现出其四海为家，既来之则安之的革命乐观主义精神，另一方面，用家来类比看守所，可见格瓦拉对看守所非常熟悉。我们不难推断出，格瓦拉即使多次被捕入狱，仍然坚决与敌人斗争到底，视监如归，与叶挺将军的把牢底坐穿有异曲同工之妙。
    <br>
    “ 里面个个都是人才，说话又好听，我超喜欢里面的！”
    <br>
    解读：窃.格瓦拉被捕之后，依然对革命前途充满信心，他在狱中积极联络群众，在群众中散播革命的种子，从而为日后革命的胜利奠定了坚实的基础。这一句中，格瓦拉毫不掩饰其对无产阶级群众的赞美之情，可见格瓦拉是一位深植于劳苦大众之中，为了人民的利益而斗争的伟大的无产阶级革命家。
    <br>
    “超喜欢”一词，深刻地体现了格瓦拉昂扬的革命斗志和对国家与广大人民深厚的感情。
</div>